@media only screen and (min-width : 1400px) {}

@media only screen and (max-width: 1400px) and (min-width : 1200px) {
    .main-heading {
        font-size: 56px;
    }
}

@media only screen and (max-width: 1200px) and (min-width : 992px) {
    .main-heading {
        font-size: 48px;
    }

    .hero-desc {
        max-width: 450px;
    }

    .play-btn {
        width: 75px;
        height: 75px;
    }

    .play-btn::after {
        width: 50px;
        height: 50px;
    }

    .content-layer {
        padding: 40px 40px;
    }
}

@media only screen and (max-width: 992px) and (min-width : 768px) {
    .hero-section {
        background-position: center top;
    }

    .main-heading {
        font-size: 42px;
    }

    .hero-desc {
        max-width: 400px;
        font-size: 14px;
    }

    .play-btn {
        width: 65px;
        height: 65px
    }

    .play-btn::after {
        width: 44px;
        height: 44px;
    }

    .content-layer {
        padding: 40px 60px;
    }

    .hero-buttons {
        gap: 12px;
    }

    .btn-book,
    .btn-services {
        padding: 12px 20px;
        font-size: 13px;
        white-space: nowrap;
    }
}

@media only screen and (max-width: 768px) {
    .hero-section {
        min-height: auto;
    }

    .hero-main {
        flex-direction: column;
        align-items: center;
    }

    .hero-section {
        background-position: center top;
    }

    .content-layer {
        min-height: auto;
        padding: 30px 30px;
    }

    .hero-content-left {
        flex: 0 0 100%;
        text-align: center;
        align-items: center;
    }

    .hero-content-right {
        flex: 0 0 auto;
        margin-top: 80px;
    }

    .main-heading {
        font-size: 36px;
    }

    .hero-desc {
        max-width: 100%;
        margin-bottom: 30px;
        font-size: 13px;
        line-height: 1.6;
    }

    .hero-buttons {
        justify-content: center;
    }

    .results-block {
        justify-content: center;
    }

    .main-header {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width : 576px) {

    .hero-section {
        min-height: auto;
        background-position: 38% center;
    }

    .main-header {
        gap: 15px;
        margin-bottom: 30px;
    }

    .btn-join {
        padding: 10px 18px;
        font-size: 12px;
    }

    .content-layer {

        padding: 30px 20px;
    }

    .main-heading {
        font-size: 28px;
    }

    .hero-buttons {
        flex-direction: column;
        gap: 12px;
    }

    .btn-book,
    .btn-services {
        width: 100%;
        text-align: center;
    }

    .logo {
        font-size: 22px;
    }

    .hero-content-right {
        margin-top: 80px;
    }

    .results-block {
        flex-direction: column;
        align-items: center;
    }

    .row-image-stack {
        margin-bottom: 8px;
        justify-content: center;
    }

    .hero-desc {
        font-size: 12px;
        line-height: 1.6;
    }

}